@import "../variables";
@import "../mixins/mobile";
.content {
  width: 100%;
  height: 100%;
  padding: 120px 20px;
  padding-left: 150px;
  background: rgb(247, 247, 247);
  overflow: auto;
  & > div {
    opacity: 0;
    animation: fade-in 0.8s forwards;
    animation-delay: 0.2s;
  }
  section {
    position: relative;
    padding: 20px;
    background: black;
    box-shadow: 0px 0px 4px #0000002c;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../public/sidenav.jpg");
      background-position: center;
      opacity: 0.3;
      z-index: 0;
    }
  }
  h3 {
    position: relative;
    color: white;
    z-index: 10;
  }
  h3 {
    position: relative;
    text-align: left;
    font-size: 40px;
    font-family: "Figtree", sans-serif;
  }
  & > div > section > h4 {
    position: relative;
    text-align: left;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: white;
    padding: 5px 0px;
    z-index: 10;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
