@import "../variables";
@import "../mixins/mobile";

.items {
  min-height: 100vh;
}

.topMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Poppins";
  justify-content: flex-end;
  gap: 20px;
  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  select {
    cursor: pointer;
    font-family: "Poppins";
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.301);
    border: none;
    border-radius: 18px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background-position: calc(100% - 12px) center !important;
    background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
      no-repeat;
    background-color: white;
    padding: 8px 36px 8px 22px;
  }

  input {
    margin-right: 40px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 4px #0000002c;
    padding: 10px 25px;
    font-size: 14px;
    font-family: "Roboto";
    width: 250px;
    background: rgb(255, 255, 255);
    transition: 0.6s;
    &:focus {
      background: rgb(238, 238, 238);
    }
  }

  button {
    position: relative;
    background: $green-color;
    color: white;
    z-index: 15;
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 14px;
    font-family: "Figtree", sans-serif;
    box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 0.3);
    transition: 0.8s;
    &:hover {
      background: $dark-green;
      transition: 0.4s;
    }
  }
}

.itemList {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 20px; /* 20px gap between rows */
  & th,
  td {
    padding: 25px 20px;
  }
}
.itemListRow {
  padding: 20px 10px;
  margin: 20px;
}

.item {
  & > td {
    background: rgb(255, 255, 255);
    font-family: "Poppins";
    animation-name: fade-in;
    animation-duration: 1s;
    &:nth-last-of-type(1) {
      max-width: 140px;
    }
  }
  & td:first-child {
    border-top-left-radius: 20px;
  }
  & td:last-child {
    border-top-right-radius: 20px;
  }

  & td:first-child {
    border-bottom-left-radius: 20px;
  }
  & td:last-child {
    border-bottom-right-radius: 20px;
  }
  & td:nth-of-type(4) {
    span {
      color: $green-color;
      font-family: "Poppins";
      font-weight: 600;
    }
  }
  h3 {
    font-family: "Poppins";
    color: rgb(80, 80, 80);
    font-size: 15px;
    font-weight: 600;
    max-width: 85px;
  }
  img {
    width: 40px;
    height: 50px;
    object-fit: cover;
  }
  button {
    position: relative;
    display: inline-flex;
    width: fit-content;
    z-index: 15;
    border: 0;
    border-radius: 20px;
    padding: 8px 20px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 13px;
    font-family: "Figtree", sans-serif;
    text-transform: uppercase;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    transition: 0.8s;
    &:hover {
      background: $yellow;
      transform: scale(1.1);
      transition: 0.4s;
    }
    svg {
      font-size: 20px;
    }
    &:nth-of-type(1) {
      background: $dark-yellow;
      color: $dark-green;
      margin-right: 20px;
    }
    &:nth-of-type(2) {
      background: $red;
      color: white;
      margin-right: 20px;
      svg {
        font-size: 20px;
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
