@import "variables";
@import "./mixins/mobile";

.container {
  position: relative;
  background: url("../public/contact.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 100px 10%;
  color: white;
  text-align: center;
  .overlay {
    background: rgb(0, 0, 0);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }
  h2 {
    position: relative;
    margin: 80px auto 0;
    text-align: center;
    font-size: 55px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    animation: fade-in-up 1s;
  }

  button {
    position: relative;
    background: transparent;
    color: rgb(0, 0, 0);
    z-index: 15;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px 50px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    transition: 0.8s;
    animation: fade-in 1s;
    overflow: hidden;
    span {
      position: relative;
      z-index: 10;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 0;
      height: 0;
      background: rgb(0, 0, 0);
      border-radius: 5px;
      transition: 0.6s;
      z-index: 5;
    }
    &:hover {
      color: rgb(255, 255, 255);
      letter-spacing: 2.5px;
      &::after {
        width: 100%;
        height: 100%;
      }
      transition: 0.4s;
    }
  }
  .containerInputs {
    background: white;
    border-radius: 10px;
    padding: 20px 20px;
    width: 450px;
    position: relative;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: fade-in 1s;
    textarea:focus,
    input:focus {
      outline: none;
    }
    & > div:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      input {
        background: #f3f3f3;
        border: none;
        border-radius: 10px;
        padding: 15px 10px;
        font-family: "Roboto";
        color: rgb(3, 3, 3);
        transition: 0.6s;
        &:focus {
          color: rgb(0, 0, 0);
          background: #e7e7e7;
        }
        &::placeholder {
          color: rgb(0, 0, 0) !important;
        }
      }
    }
    & > div:nth-of-type(2) {
      width: 100%;
      textarea {
        width: 100%;
        height: 100%;
        background: #f3f3f3;
        border: none;
        border-radius: 10px;
        padding: 15px 10px;
        font-family: "Roboto";
        transition: 0.6s;
        &:focus {
          background: #e7e7e7;
        }
      }
    }
    .bottomText {
      color: #979797;
      font-size: 14px;
      line-height: 15px;
      padding: 5px 20px;
    }
    .info {
      position: absolute;
      opacity: 0.7;
      right: -400px;
      top: 0;
      background: #ffffff4d;
      border-radius: 15px;
      color: black;
      width: 350px !important;
      padding: 10px;
      transition: 0.6s;
      &:hover {
        background: white;
        opacity: 1;
      }

      p {
        position: relative;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        margin: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 15px;
        svg {
          cursor: pointer;
          border-radius: 50%;
          border: 1px solid black;
          padding: 10px;
          font-size: 47px;
        }
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    translate: 0 30px;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}
